@layer component {
  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: var(--padding-normal);
    border-radius: 1rem;
    gap: var(--gap-normal);
  }

  .aspectRatioContainer {
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 0.7rem;
  }

  .cardImageContainer {
    height: 100%;
    width: 100%;
    border-radius: 0.7rem;
  }

  .textContentContainer {
    display: flex;
    flex-direction: column;
    gap: var(--gap-normal);
    height: 100%;
    padding: 1rem 0;
  }

  @media screen and (min-width: 48rem) {
    .textContentContainer {
      padding: 0 1rem;
    }
  }

  .tagsContainer {
    display: flex;
    gap: var(--gap-small);
    flex-wrap: wrap;
    width: 100%;
  }

  .tag {
    display: flex;
    justify-content: center;
    height: auto;
    color: var(--color-primary);
    background-color: var(--color-accent);
    border-radius: 0.5rem;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.4em 0.4em;
  }

  .textContainer {
    display: flex;
    height: auto;
    flex-direction: column;
    gap: var(--gap-normal);

    & h3 {
      text-align: left;
      padding-bottom: 0;
    }

    & p {
      text-align: left;
      overflow: hidden;
      padding-top: 0;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    gap: var(--gap-large);
    width: 100%;
    opacity: 35%;
  }
}
