@layer page {
  .homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }

  .aspectRatioContainer {
    aspect-ratio: 16/9;
    width: 100%;
  }

  .heroImageContainer {
    height: 40vw;
    max-height: 15rem;
  }

  .contentContainer {
    height: 100%;
    padding: 1rem;
    max-width: 45rem;
  }

  .heroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    gap: 0.5rem;

    & h1 {
      font-weight: var(--fw-700);
      font-size: clamp(1rem, 8vw, 4rem);
      padding: 0;
    }

    & h2 {
      font-family: var(--font-indie-flower);
      font-weight: var(--fw-700);
      font-size: 1.3em;
      padding-bottom: 1em;
      padding-top: 0;
      color: var(--color-accent);
    }

    & p {
      font-weight: var(--fw-400);
      line-height: 1.5;
      text-align: center;
      padding: var(--padding-small) 0;
    }
  }

  .headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: var(--color-accent);
    color: var(--color-primary);
    padding: 0.5rem 1rem;
  }

  .splitFlapContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    transition: all 0.5s ease-in-out;
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }

  .contentContainer {
    display: flex;
    justify-content: center;
  }

  .latestLinksContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
  }

  .latestLink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--color-accent);
    border-radius: 1rem;
    padding: 0 var(--padding-small);
    background-color: var(--color-accent);
    color: var(--color-primary);
    transition: all 0.2s ease-in-out;
    font-weight: var(--fw-700);
    text-decoration: none;
  }

  .latestLink:hover {
    background-color: var(--color-secondary);
    color: var(--color-accent);
    transition: all 0.2s ease-in-out;
  }

  .latestLink:active {
    background-color: var(--color-primary);
    transition: all 0.2s ease-in-out;
  }

  .emoji {
    font-size: 1.5rem;
  }

  .socialLinks {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 2rem;
  }
}
