@layer component {
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-normal);
    position: fixed;
    width: 100%;
    overflow-y: scroll;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
    /* to avoid overlap with the navbar */
  }

  .desktopNavbar {
    justify-content: space-between;
  }

  .mobileNavbar {
    display: flex;
    justify-content: space-between;
  }

  .navbarColorChange {
    background-color: var(--color-secondary);
    transition: background-color 0.5s ease-in-out;
  }

  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(3rem, 9vw, 6rem);
    margin-left: clamp(0rem, 2vw, 1rem);
    transition: height 0.5s ease-in-out;
  }

  .logoContainerChange {
    height: clamp(3rem, 9vw, 4rem);
    transition: height 0.5s ease-in-out;
  }

  .menuItemsContainer {
    display: flex;
    gap: 1.4rem;
    align-items: center;
    justify-content: center;
    padding-right: var(--padding-large);
    font-size: var(--navbar-font-size);
    font-weight: var(--fw-500)
  }

  .innerLinkContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
  }

  .hamburgerMenuButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 3.125rem;
    width: 3.125rem;
  }

  .hamburgerMenuIcon {
    color: var(--color-accent);
    height: 100%;
    width: 100%;
  }
}