@layer component {
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-normal);
    position: fixed;
    width: 100%;
    overflow-y: scroll;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
    /* to avoid overlap with the navbar */
  }

  .desktopNavbar {
    justify-content: space-between;
  }

  .mobileNavbar {
    display: flex;
    justify-content: space-between;
  }

  .navbarColorChange {
    background-color: var(--color-secondary);
    transition: background-color 0.5s ease-in-out;
  }

  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(3.5rem, 7vw, 5rem);
    margin-left: clamp(0rem, 2vw, 1rem);
  }

  .menuItemsContainer {
    display: flex;
    gap: 1.4rem;
    align-items: center;
    justify-content: center;
    padding-right: var(--padding-large);
    font-size: var(--navbar-font-size);
    font-weight: var(--fw-500)
  }

  .innerLinkContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
  }

  .hamburgerMenuButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 3.125rem;
    width: 3.125rem;
  }

  .hamburgerMenuIcon {
    color: var(--color-accent);
    height: 100%;
    width: 100%;
  }
}

/* .navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-small) var(--padding-normal);
  padding-right: var(--padding-large);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: var(--navbar-height);
  & div:first-child {
    display: flex;
    justify-content: flex-start;
  }
  & div:last-child {
    display: flex;
    justify-content: flex-end;
  }
}

@media (width > 75rem) {
  .navbar {
    display: flex;
    padding: var(--padding-small);
    justify-content: space-between;
  }
}

.menuItemsContainer {
  display: flex;
  gap: var(--gap-normal);
  align-items: center;
  justify-content: center;
  .becomeAMember {
    color: var(--color-primary-yellow);
    font-weight: var(--font-weight-bold);
    text-transform: capitalize;
  }
}

.menuItem {
  color: var(--color-primary-light);
  text-decoration: none;
}

.logo {
  height: 100%;
  position: relative;
  padding-right: 10%;
}

.actionButton {
  padding-top: var(--padding-small);
  padding-bottom: var(--padding-small);
  padding-left: var(--padding-normal);
  padding-right: var(--padding-normal);
}

.mobileNavbar {
  display: flex;
  justify-content: space-between;
}

.hamburgerMenu {
  cursor: pointer;
  height: calc(var(--navbar-height) - 2 * var(--padding-normal));
  padding-right: var(--padding-normal);
}

 */